/*  your css code here. If applicable */
.container{
	display:flex;
	gap:20px
}
img{
	width:350px;
	height:200px;
	object-fit: cover;
}
.hero{
	align-items: center;
}
a{
	background-color:red;
	color: white;
	border:none;
	padding:2px;
	length:1;
}
button{
	border:none;
}